<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-left">
        <div class="footer-col footer-col-icon">
        <a href="mailto:{{ site.email }}">
          <img src="{{ site.baseurl }}/assets/envelope.png"/>
        </a>
        </div>

        <div class="footer-col footer-col-icon">
        <a href="https://github.com/{{ site.github_username }}">
          <img src="{{ site.baseurl }}/assets/github.png"/>
        </a>
        </div>
      </div>

      <div class="footer-col  footer-col-right">
        <p class="text">{{ site.description }}</p>
        <p> This site's source 
        <a href="https://github.com/poulson/notebook">is available on GitHub</a>
        </p>
      </div>
    </div>

  </div>

</footer>
